.meat-recipe{
    display: flex;
    align-items: center;
    justify-content: center;
}
.meat-recipe ol{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.meat-recipe ol li{
    display: inline-block;
    margin-right: 10px;
}
.meat-recipe ol li a{
    text-decoration: none;
    color: white;
    border:1px solid white;
    padding: 20px 25px;
    background-color: green;
    border-radius: 40px;
}
*{
    font-size: 25px;
}
.meat-recipe ol li a:hover{
    background-color: black;
}

